# Maven target folder
/target/

# Maven Wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
*.iml
.idea/

# VSCode
.vscode/

# OS - macOS
.DS_Store

# Log files
*.log

# Application config (actual credentials not pushed)
src/main/resources/application.properties

# Environment files
.env
