# ========================
# Maven
# ========================
/target/
!.mvn/wrapper/maven-wrapper.jar
**/logs/
*.log
*.class
dependency-reduced-pom.xml
buildNumber.properties
release.properties

# ========================
# Eclipse
# ========================
.project
.classpath
.settings/
.apt_generated/
.factorypath

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# Others 
# ========================
*.bak
*.tmp
*.swp
database.properties